{% extends 'home/base_menu1.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}
    My Forum
{% endblock title %}
{% block logo %}
<i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i> &nbsp&nbsp
{% endblock logo %} 


{% block welcome %}
    <div class="row justify-content-center mt-4 hrr">
        <div class="col-10 col-sm-6  text-center">
            <h1> {{forum.title}}</h1>
            <hr>
        </div>
    </div>   
{% endblock welcome %}

{% block content %}
    <div class="row justify-content-center ">
            <div class="col-12 col-sm-6">
                {{forum.text}}
            </div>
    </div>  
    <div class="row justify-content-center ">
        <div class="col-12 col-sm-6">
            {{forum.created_at|naturaltime }}
        </div>
    </div> 
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-6">

        <form action="{% url 'forum:comment_create' forum.id %}" method="post">
        
            {% csrf_token %}
            {{comment_form | crispy }}
        </div>
    </div> 
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-sm-6 ">
        <input type="submit" class="btn btn-sm border-secondary "  value="Submit">
        <input type="submit" class="btn btn-sm border-secondary " onclick="window.location='{% url 'forum:forum_index' %}'" value="All Forums">
        </div>
        
        </form>

    </div> 
    {% for comment in comment_list  %}
    <div class="row justify-content-center mt-2">
        <div class="col-9 col-sm-4 bg-light  ">
                {{comment.text}}      
        </div>
        
        {% if user == comment.owner %}
             
        <div class="col-3 col-sm-2 p-2 m-2 text-right">
            <a href="{% url 'forum:comment_delete' comment.id %}"><i class="fa fa-trash-o del_ico fa-lg"  aria-hidden="true"></i>
            </i>
            </a>
        </div>
        {% endif %}

    </div>  
    {% endfor %} 
    
{% endblock content %}
