{% extends 'home/base_menu.html' %}


{% block content %}
    <a href="{% url 'chat:syntax' %}" class="btn btn-primary p3 ">Syntax</a>|
    <a href="" class="btn btn-primary p3 ">Json dump</a> |
    <a href="{% url 'chat:chat_view' %}" class="btn btn-primary p3 ">Chat</a>
    <br><br>
    <div id="json_data">
        This text will replace in two seconds
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $.getJSON('{% url 'chat:json_test' %}', function(data){
                console.log(data);
                $("#json_data").html('name: '+data.name+'<br> Age:'+data.age)  ;           
            })
        });

    </script>
{% endblock content %}


