{% extends 'pics_dj4e/base.html' %}

{% load humanize %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock head %}
  



{% block content %}

<div class="row justify-content-center" >
    <div class=" col col-md-8 align-items-stretch mt-2  p-2" >
       <img class="img-fluid" src="{{pic.img.url}}" alt="image">
    </div>
</div>


<div class="row justify-content-center mt-4">
  <div class="col-6 col-sm-3 btn-gorup mt-3 p-1 text-left">
      <a href="{% url 'pics:pic_create'%}"><i class="fa fa-plus-square" aria-hidden="true"> create</i></a> |
      <a href="{% url 'logout' %}?next={% url 'pics:pics_index' %}"><i class="fa fa-sign-out" aria-hidden="true"> Logout</i></a>
      | <a href="{% url 'login' %}?next={% url 'pics:pics_index' %}"><i class="fa fa-sign-in" aria-hidden="true"> Login</i></a>
  </div>

  <div class="col-6 col-sm-3  mt-2 text-right">
     <a href="{% url 'pics:pics_index' %}" class="btn btn-secondary">Back</a>
  </div>
    
</div>


{% endblock content %}
    
